body {
    font-family: "Amatic SC", sans-serif;
    font-size:32px;
}

.page-title {
    font-family: "Amatic SC", sans-serif;
    font-size: 38px;
    font-weight: 500;
    font-style: italic;
}

.section-title {
    font-size: 26px;
    font-weight: 500;
    font-family: "Amatic SC", sans-serif;
}

.club-list .title {
    font-size: 24px;
    font-family: "Amatic SC", sans-serif;
}
.page-nav .link {
    color: #00bcd4;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: #18ffff;
}

.page-nav .link:active {
    color: #212121;
}

.club-list .link {
    color: #ffc107;
}

.club-list .link:hover,
.club-list .link:focus {
    color: #f57f17;
}

.club-list .link:active {
    color: #ff1744;
}